:root {
  --base-font-color: #ff5a70;
  --body-bg: #f9f9f9;

  --table-text-color: #3b3b3b;

  --gray: #989b9b;
  --gray-1: #898989;
  --gray-2: #c4c4c4;
  --gray-3: #bebebe;
  --gray-4: #ebebeb;
  --gray-5: #dadada;

  --active-chip: #36cf822d;
  --pending-chip: #f29d424c;

  --green-1: #36cf82;
  --orange-1: #f29d42;
}
