.card {
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 20px;

  .card-item {
    padding: 10px 20px;
    font-size: 12px;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    align-items: center;

    &:last-child {
      padding-bottom: 0;
    }

    .key {
      font-family: 'Aileron Bold', 'Helvetica Neue', sans-serif;
      line-height: 20px;
      letter-spacing: 0.25px;
    }

    .value {
      line-height: 24px;
      letter-spacing: 0.1px;
    }

    &:nth-child(odd) {
      background-color: var(--body-bg);
    }
  }
}
